doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/note.css")
        link(rel="shortcut icon", href="/icons/pencil.png", type="image/x-icon")
        script(src="/script.js", defer) 
        title note-keeper
    body 
        section.container 
            .search_container 
                div 
                    .input-container 
                        span
                            img(src="/icons/search.png", alt="search icon")
                        input#search-input(type="search", placeholder='Search notes', o)
                .category-btns
                    form(action="/", method='GET')  
                        button(type='submit', class=category===undefined ? 'active' : '') All 
                    form(action="/", method='GET') 
                        input(type="hidden", name="category", value='personal')
                        button(type='submit', class=category==='personal' ? 'active' : '') Personal  
                    form(action="/", method='GET') 
                        input(type="hidden", name="category", value='others')
                        button(type="submit", class=category==='others' ? 'active' : '') Others
            .notes(class='custom-scrollbar') 
                each note in notes
                    div.demo-note
                        h3 #{note.title}
                        p 
                            span.note-highlight #{note.content.substring(0, 100)}
                            span.created_at #{note.created_at.toString().substring(0, 24)}
                        a.edit-el-cont(href=`/view-note/${note.id}`) 
                            img.edit-el(src='/icons/edit.png', alt='edit-note')
                        img.delete-el(src="/icons/delete.png", alt="more-options", id='delete-el', data-id=`${note.id}`)

            .modal 
                .modal-content 
                    span.close &times;
                    p Are you sure you want to delete this note?
                    button(id='confirmDelete', data-id='') Yes 
                    button(id='cancelDelete') No

            .add-btn 
                a(href="/create-note") +
            
